#feed-container {
    padding: 16px;
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
}

#feed-action-bar {
    display: flex;
    width: 100%;
    align-items: center;
}

.feed-action {
    width: 50%;
}

#feed-list {
    max-height: calc(100vh - 250px);
    overflow-y: auto;
}
